.confirmOrderPage {
  display: flex;
  
  width: 100%;
  height: 100vh;
  margin-top: 4.5rem;
  overflow-y: hidden;
  padding: 2rem 0rem;
}
.confirmOrder p {
  margin-block: 0;
  padding-inline: 0;
}
.shippingCart {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 0rem 3rem;
  border-right: 1px solid rgb(139, 139, 139);
}
.shippingDetails {
  display: flex;
  flex-direction: column;
  
  height: 50%;
  padding: 0rem 2rem;
  justify-content: space-evenly;
}
.confirmOrderPage h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: rgb(53, 53, 53);
  text-underline-offset: 0.5rem;
  text-decoration: underline;
}
.shippingDetails span {
  color: rgb(60, 60, 60);
}
.cartItemsDetails {
  display: flex;
  flex-direction: column;
  
  height: 50%;
  padding: 0rem 2rem;
}
.cartItemsList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 0.2rem;
  border: 1px solid rgb(139, 139, 139);
}
.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.cartItem p {
  text-align: right;
  width: 50%;
  color: rgb(60, 60, 60);
}
.cartItemDetails {
  display: flex;
  margin: 0;
  padding: 0;
  width: 50%;
  align-items: center;
}
.cartItemDetails img {
  width: 35%;
  aspect-ratio: 5/4 !important;
}
.orderSummary {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 3rem 5rem;
  align-items: center;
}
.confirmOrder {
  display: flex;
  width: 100%;
  padding: 1rem 0rem;
  flex-direction: column;
  border-top: 1px solid rgb(103, 103, 103);
  border-bottom: 1px solid rgb(103, 103, 103);
}

.orderSummary span {
  display: flex;
  width: 100%;
  padding: 1rem 0rem;
  justify-content: space-between;
}
.orderSummary span span:first-child {
  padding: 0rem;
  justify-content: flex-start;
}
.orderSummary span span:last-child {
  padding: 0rem;
  justify-content: flex-end;
}
.confirmOrder span span:first-child {
  padding: 0rem;
  justify-content: flex-start;
}
.confirmOrder span span:last-child {
  padding: 0rem;
  justify-content: flex-end;
}
.paymentBtn {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  border-radius: 0.2rem;
  background-color: #103E70;
  color: white;
  transition: all 0.1s;
}
.paymentBtn:hover{
  transform: scale(1.05);
}

