@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.shipping {
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  min-height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
  overflow: hidden;
}
.shippingImgDiv {
  column-span: 1;
  display: flex;
  justify-content: flex-end;
}
.shippingImg {
  width: 100%;
  height: calc(100vh - 4rem);
}
.shippingBox{
  column-span: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.shippingForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.8rem;
  font-family: "Open Sans";
  box-shadow: 0.12rem 0.12rem 0.5rem rgba(0, 0, 0, 0.3);
  width: 65%;
  padding-bottom: 1rem;
  background-color: white;
}
.shippingHead {
  margin-block: 0rem;
  font-size: 1rem;
  padding: 0.5rem 1.55rem;
  font-weight: 700;
  font-family: "Open Sans";
  color: white;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-color: #103e70;
}

.shippingForm div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
}
.shippingForm div label,
.registerForm div label,
.forgotPasswordForm div label {
  font-size: 0.9rem;
  color: rgb(87, 87, 87);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}

.shippingForm div input,
.registerForm div input,
.forgotPasswordForm div input {
  padding:0.5rem;
  border: 1px solid rgba(58, 58, 58, 0.2);
  border-radius: 0.2rem;
}
.shippingForm div input:focus,
.registerForm div input:focus,
.forgotPasswordForm div input:focus {
  box-shadow: 0.06rem 0.06rem 0.18rem rgba(0, 0, 0, 0.2);
  border: none;
  outline: transparent;
}
.forgetBtn {
  color: #103e70;
  cursor: pointer;
  background-color: white;
  align-self: flex-end;
  margin: 0.5rem 1.5rem;
  font-weight: 600;
  font-family: "Open Sans";
  border: none;
}
.submitBtn {
  cursor: pointer;
  color: white;
  background-color: #103e70;
  align-self: center;
  width: auto;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  font-family: "Open Sans";
}
.signUpDiv,
.shippingDiv {
  display: flex;
  flex-direction: row !important;
  align-self: center;
  font-family: "Times New Roman", Times, serif;
}
.signUpBtn,
.shippingBtn {
  text-decoration: none;
  font-weight: 700;
  margin-left: 0.8rem;
  color: #103e70;
}
.formError {
  font-size: 0.8em;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 1100px) {
  .shippingBox,
  .registerBox {
    padding: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .shipping,
  .register,
  .forgotPassword {
    display: flex;
  }
  .shippingImgDiv,
  .registerImgDiv,
  .forgotPasswordImgDiv {
    display: none;
  }
  .shippingBox,
  .registerBox,
  .forgotPasswordBox {
    width: 100%;
    padding: 8rem;
    background-image: url("../../assets/images/shipping.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .shippingForm,
  .registerForm,
  .forgotPasswordForm {
    opacity: 0.9;
  }
}
@media screen and (max-width: 700px) {
  .shippingBox,
  .registerBox,
  .forgotPasswordBox {
    padding: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .shippingBox,
  .registerBox,
  .forgotPasswordBox {
    padding: 1.5rem;
  }
  .shippingHead,
  .registerHead,
  .forgotPasswordHead {
    padding: 0.4rem 1rem;
  }
  .shippingForm div,
  .registerForm div,
  .forgotPasswordForm div {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
  .shippingForm div label,
  .registerForm div label,
  .forgotPasswordForm div label {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .shippingForm div input,
  .registerForm div input,
  .forgotPasswordForm div input {
    font-size: 0.8rem;
    padding: 0.3rem;
    border: 1px solid rgba(58, 58, 58, 0.2);
    border-radius: 0.2rem;
  }
  .forgetBtn {
    font-size: 0.6rem;
    margin: 0.6rem 0.8rem;
  }
  .submitBtn {
    font-size: 0.7rem;
  }
  .signUpDiv,
  .shippingDiv {
    font-size: 0.7rem !important;
  }
  .signUpBtn,
  .shippingBtn {
    margin-left: 0.2rem;
  }
  .formError {
    font-size: 0.4em;
  }
}
@media screen and (max-width: 400px) {
  .shippingBox,
  .registerBox,
  .forgotPasswordBox {
    padding: 0rem;
  }
}
