@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.loginRegister,.forgotPassword {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: min(20rem, 40vh);
}
.forgotPassword {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: min(60rem, 85vh);
}
.loginImgDiv,
.registerImgDiv {
  display: flex;
  width: 60%;
}
.forgotPasswordImgDiv {
  display: flex;
  width: 50%;
}
.loginImg,
.registerImg,
.forgotPasswordImg {
  width: 100%;
  z-index: 1;
  min-height: 50vh;
  background-color: white;
}
.loginRegisterBox {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 75vh;
  margin: 1rem 7rem;
  box-shadow: 0.12rem 0.12rem 0.5rem rgba(0, 0, 0, 0.3);
}
.loginRegisterTabs {
  display: flex;
  width: 100%;
  margin-block: 0;
  padding-inline: 0;
  transition: all linear 0.4s;
}
.loginRegisterTabs li {
  cursor: pointer;
  width: 50%;
  font-family: "Open Sans";
  font-weight: 600;
  text-align: center;
  padding: 0.8rem 0rem;
  border-bottom: 3px solid #103e70;
}
.active {
  color: white;
  background-color: #103e70;
}
.loginDiv,
.registerDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: all linear 0.4s;
}
.forgotPasswordBox {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
/* .forgotPasswordBox {
  column-span: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
} */
.loginForm,
.registerForm,
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2rem 1rem;
  justify-content: flex-end;
  font-family: "Open Sans";
  width: 90%;
}
.forgotPasswordForm {
  border-radius: 0.8rem;
  padding: 0;
  width: 70%;
  box-shadow: 0.12rem 0.12rem 0.5rem rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
  background-color: white;
}
.forgotPasswordHead {
  margin-block: 0rem;
  font-size: 1rem;
  padding: 0.8rem 1.55rem;
  font-weight: 700;
  font-family: "Open Sans";
  color: white;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-color: #103e70;
}

.loginForm div,
.registerForm div,
.forgotPasswordForm div {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1.5rem;
}
.loginForm div label,
.registerForm div label,
.forgotPasswordForm div label {
  font-size: 0.9rem;
  color: rgb(87, 87, 87);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}

.loginForm div input,
.registerForm div input,
.forgotPasswordForm div input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid rgba(58, 58, 58, 0.2);
  border-radius: 0.3rem;
}
.loginForm div input:focus,
.registerForm div input:focus,
.forgotPasswordForm div input:focus {
  box-shadow: 0.06rem 0.06rem 0.18rem rgba(0, 0, 0, 0.2);
  border: none;
  outline: transparent;
}
.forgetBtn {
  color: #103e70;
  cursor: pointer;
  background-color: white;
  align-self: flex-end;
  padding: 0.8rem 0rem;
  margin-right: 1.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "Open Sans";
  border: none;
}
.submitBtn {
  cursor: pointer;
  color: white;
  background-color: #103e70;
  align-self: center;
  width: auto;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  font-family: "Open Sans";
}
.formError {
  font-size: 0.8em;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 1100px) {
  .loginRegisterBox {
    margin: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .forgotPassword {
    display: flex;
  }
  .loginRegisterBox {
    width: 60%;
    margin: 2rem auto;
  }
  .loginImgDiv,
  .registerImgDiv,
  .forgotPasswordImgDiv {
    display: none;
  }

  .forgotPasswordBox {
    width: 100%;
    padding: 8rem;
    background-image: url("../../assets/images/login.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .loginRegisterBox {
    background-image: url("../../assets/images/login.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .loginForm,
  .registerForm,
  .forgotPasswordForm {
    background-color: white;
    opacity: 0.9;
  }
}
@media screen and (max-width: 700px) {
  .loginRegisterBox {
    width: 70%;
  }
  .forgotPasswordBox {
    padding: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .loginRegisterBox{
    width: 90%;
    height: 60vh;
  }
  .forgotPasswordBox {
    padding: 1.5rem;
  }
  .forgotPasswordHead {
    padding: 0.4rem 1rem;
  }
  .loginForm,.registerForm{
    width: 100%;
  }
  .loginForm div,
  .registerForm div,
  .forgotPasswordForm div {
    /* font-size: 0.9rem; */
    padding: 0.8rem;
  }
  .loginForm div label,
  .registerForm div label,
  .forgotPasswordForm div label {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .loginForm div input,
  .registerForm div input,
  .forgotPasswordForm div input {
    font-size: 0.8rem;
    padding: 0.3rem;
    border: 1px solid rgba(58, 58, 58, 0.2);
    border-radius: 0.2rem;
  }
  .forgetBtn {
    font-size: 0.6rem;
    margin: 0.6rem 0.8rem;
  }
  .submitBtn {
    font-size: 0.7rem;
  }
  .signUpBtn,
  .loginBtn {
    margin-left: 0.2rem;
  }
  .formError {
    font-size: 0.4em;
  }
}
@media screen and (max-width: 400px) {
  .loginRegisterTabs li{
    padding: 0.3rem 0rem;
  }
  .loginForm,.registerForm{
    width: 100%;
    padding: 2rem 0rem;
  }
  .forgotPasswordBox {
    padding: 0rem;
  }
}
