.dashboardPage {
  display: flex;
  min-height: calc(100vh - 4.5rem);
}
.sidebar {
  display: flex;
  height: 60vh;
  width: 18%;
  padding: 2rem;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
}
.sidebar li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar li:hover {
  transform: scale(1.05);
}
.product {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: default;
  padding: 0.2rem 0rem;
}
.product span {
  display: flex;
  position: relative;
}
.product ul {
  position: absolute;
  transition: all linear 2s;
  top: 1.4rem;
}
.product ul li {
  color: black;
  cursor: pointer;
  transition: all 0.2s;
}
.product ul li:hover {
  transform: scale(1.05);
}
.mainDashboard {
  display: flex;
  flex-direction: column;
  width: 82%;
}
.mainDashboard ul {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}
.mainDashboard ul li {
  display: flex;
  flex-direction: column;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 187, 71);
  color: white;
  border-radius: 50%;
}

.chart {
  width: 100%;
  height: 80vh;
}
