#range-slider-yellow {
  height: 0.3rem;
  z-index: 1;
}
  #range-slider-yellow .range-slider__range {
    background: #165292;
    transition: height 0.3s;
  }
  
  #range-slider-yellow .range-slider__thumb {
    background: #134c88;
    height: 0.8rem;
    width: 0.8rem;
    transition: transform 0.3s;
  }
  
  #range-slider-yellow .range-slider__thumb[data-active] {
    transform: translate(-50%, -50%) scale(1.1);
  }
  