.loading {
  background-color: white;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin-top: 4.5rem;
  height: calc(100vh - 4.5rem);
}

.cartLoading{
    height: 65%;
}
