body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: white;
  /* background-color: rgb(217, 232, 255); */
}
body>#root {
  scroll-behavior: smooth;
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}
*::-webkit-scrollbar {
  width: 0.4em;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(168, 168, 168);
}
a,button{
  text-decoration: none;
  color: black;
  border: none;
}

ul{
  list-style: none;
}
summary {
  list-style: none;
  display: flex;
  align-items: flex-end;
}
button {
  border: none;
}